body, html {
    padding: 0;
    margin: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Microsoft YaHei UI', 'Source Han Sans', sans-serif;
    overflow: hidden;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
}

#game > canvas {
    height: calc(min(100vh, calc(100vw / 16 * 9)) - 20px)
}
