body {
    height: 100vh;
}

.dialogue-container {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* background-color: #f0f0f0; */
    font-family: 'Noto Sans SC', sans-serif;
}

/* 外层的白色边框 */

.character-name {
    position: absolute;
    top: calc(20% - 0.4rem);
    left: 17%;
    transform: rotate(-13deg);
    color: black;
    font-size: 2.25vh;
    z-index: 1;
    font-weight: 900;
    height: 1rem;
    width: 5rem;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-name > span {
    color: white;
    background: black;
}

/* 内层的对话框 */
.dialogue-box {
    min-width: 40vw;
    max-width: 60vw;
    min-height: 2rem;

    position: relative;
    z-index: 0;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
    font-size: 2vh;

    aspect-ratio: 10/3;

    display: flex;
    align-items: center;
}

.dialogue-box img {
    position: absolute;
    z-index: 10;
}

.dialogue-box p {
    margin: 0 20%;
    word-break: break-all;
    max-width: 80%;
    color: white;
    z-index: 20;
    line-height: 1;
}

.dialogue-box span {
    font-size: 2vh;
    font-weight: 500;
}
