body {
    background: black;
    color: white;
}

.h1 {
    font-size: 180%;
    font-weight: bold;
    margin-bottom: 5%;
}

.scroll-container {
    --height: 100vh;
    position: absolute;
    top: var(--height);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 10s linear rise infinite;
    z-index: 1;
}

.scroll-container>.para {
    font-size: 2rem;
    font-weight: 600;
    max-width: min(600px, 80vw);
}

.para>div {
    user-select: none;
    margin: 1rem 0;
    --offset: 0px;
    filter: blur(max(0px, min(20px, calc((var(--height) - 60vh + var(--offset)) / 20)))) blur(max(0px, min(20px, calc((20vh - var(--height) - var(--offset)) / 20))));
}

.card {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #c3c3c300;
    color: black;
    list-style-type: none;
    position: relative;
    display: flex;
    font-size: 60%;
    font-family: 'Noto Serif SC';
    flex-wrap: wrap;
    align-content: space-around;
}



.cards-inner {
    /* min-width: ; */

    min-height: 170px;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    /* justify-content: space-around; */
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 20px;
    outline: 2px solid #0b3f56;
    box-shadow: 0 0 6px rgba(95, 115, 152, 0.137);
    box-sizing: border-box;
    user-select: none;
}

.cards-inner img {
    width: 150px;
    margin: 10px;
    object-fit: cover;
    border-radius: 5px;
    user-select: none;
}
.cards-inner > div {
    margin: 10px;
}
.right {
    justify-content: flex-end;
}
.middle {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fadeLoop {
    animation: fadeLoop 4s infinite;
}
@keyframes fadeLoop {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
#exit {
    font-family: 'Noto Serif SC';
    font-size: 300%;
    /*固定在页面中间*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
