.save-container {
    min-width: 300px;
    background: #000000;
    position: relative;
    padding: 1rem 2rem;

    color: #ffffff;
    font-family: "Noto Serif SC", serif;

    display: flex;
    flex-direction: column;
    user-select: none;
}

.save-container::before {
    content: '';

    position: absolute;
    top: 0px;
    left: 0px;

    width: 0.5rem;
    height: 100%;

    background: #ffffff;
}

.save-container .title {
    font-size: 1.5rem;
    font-weight: 800;

    margin-bottom: 1rem;
}

.save-container .empty {
    margin: 0 0 1rem 0;
}


.save-container .list-item {
    padding: 0.5rem 2rem 0.5rem 2rem;
    text-align: center;
    font-family: "Noto Serif", "Noto Serif SC", serif;
    background: var(--theme);
    border: unset;
    color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    margin-bottom: 0.5rem;
}

.save-container .list-item:hover {
    color: var(--theme);
    animation: 0.5s spreadBg cubic-bezier(0.23, 1, 0.32, 1) forwards;
    background: linear-gradient(90deg, #ffffff 0 50%, var(--theme) 50% 100%);
    background-size: 200% 100%;
}



.save-container .button {
    padding: 0.5rem 5rem 0.5rem 2rem;
    text-align: center;
    font-family: "Noto Serif", "Noto Serif SC", serif;
    font-size: 1.25rem;
    font-weight: 600;
    background: var(--theme);
    border: unset;
    color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    margin-top: 1rem;
}

.save-container .button::before {
    content: '';
    display: block;
    position: absolute;
    width: 0.25rem;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #ffffff;
}

.save-container .button:hover {
    color: var(--theme);
    animation: 0.5s spreadBg cubic-bezier(0.23, 1, 0.32, 1) forwards;
    background: linear-gradient(90deg, #ffffff 0 50%, var(--theme) 50% 100%);
    background-size: 200% 100%;
}

@keyframes spreadBg {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}
